.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.App-logo {
  animation: spin infinite 10s linear;
  touch-action: manipulation;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tinder-card {
  position: absolute;
  z-index: 2;
  width: 99%;
}

.tinder-card-behind {
  position: absolute;
  z-index: 1;
  width: 100%;
  transform: translateY(10%);
}

.card-content {
  height: 220px; /* Change the height to your desired value */
}
